body{
    background: var(--color);
}
body h1{
    background: grey;
    color:var(--color);
}
body p{
    background: grey;
    color: var(--color);
}
:root{
    --color: rgb(100, 49, 218);
       
}